.modal-form{
    position: absolute;
    top:93px;
    left:50%;
    transform: translateX(-50%);    
    padding: 40px;
    width: 100%;
    overflow-y: auto;

    @media screen and (min-width:$mobile){
        width: 450px;
    }

    @media screen and (min-width:$desktop){
        top: 50%;
        transform: translate(-50%, -50%);
    }

    z-index:100;

    color: var(--secondary-text);
    font-family:"Roboto-Normal";
    background-color: var(--main-bg);

    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.modal-form__action-text{
    display: block;
    margin-bottom: 30px;
    

    font-style: normal;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    @media screen and (min-width:$desktop){
        text-align: left;
    }
}
