.activities__item{
    @include elements-width(3);
    position: relative;

    &:not(:nth-child(3n)) {
        margin-right: 30px;
    }
    &:not(:nth-last-child(-n + 3)) {
        margin-bottom: 30px;
    }
}

.activities__item-img {
    display: block;
}
.activities__item-title{
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-top: 27px;
    padding-bottom: 27px;

    background-color: var(--activity-title-bg);        
    text-align: center;
    text-transform: uppercase;     
    color: var(--light-text);
}    