.hero {
    
    min-height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    background-image: 
        linear-gradient(rgba(47, 48, 58, 0.8)),
        url(../images/hero/header-img.jpg);    
    background-repeat: no-repeat;
    background-size: cover;

    color: var(--light-text); 

    @media screen and (min-width: $tablet) {        
        background-image: 
            linear-gradient(rgba(47, 48, 58, 0.8)),
            url(../images/hero/header-tablet-img.jpg);  
    }
    
    @media screen and (min-width: $desktop) {
        padding-top: 0;
        min-height: 600px;
        background-image: 
            linear-gradient(rgba(47, 48, 58, 0.8)),
            url(../images/hero/header-desktop-img.jpg);  
    }
}
.hero__container {
    max-width: 100%;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $mobile) {  
        max-width: 450px;
        margin: auto;     
    }
    @media screen and (min-width: $desktop) {
        
        max-width: 730px;
        margin: auto;   
    }
}
.hero__title{
    margin-bottom: 30px;
    margin-left:auto;
    margin-right: auto;

    font-family: "Roboto-Black", sans-serif;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.615;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    
    @media screen and (min-width: $desktop) {      
        font-size: 44px;
    }
}
.hero__button{
    @extend %btn;
    @extend %main-btn;
    
    margin-left: auto; 
    margin-right: auto;       
    padding: 10px 32px;
    color: currentColor;      
}
