.hero {
    
    min-height: 600px;
    width: 100%;
    padding-top: 200px;

    background-image: 
        linear-gradient(rgba(47, 48, 58, 0.8)),
        url(../images/hero/header-desktop-img.jpg);    
    background-repeat: no-repeat;
    background-size: cover;

    color: var(--light-text); 
}
.hero__title{
    margin-bottom: 30px;
    margin-left:auto;
    margin-right: auto;

    font-family: "Roboto-Black", sans-serif;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;       
}
.hero__button{
    @extend %btn;
    @extend %main-btn;
    
    margin-left: auto; 
    margin-right: auto;       
    padding: 10px 32px;
    color: currentColor;      
}
