.filters {
    margin-bottom: 40px;
    @media screen and(min-width:$tablet) {
        margin-bottom: 30px;
    }
    @media screen and(min-width:$tablet) {
        margin-bottom: 50px;
    }
    
    &__content{
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        @media screen and(min-width:$tablet) {
            justify-content: center;
        }
    }
}