.filters__radio-btn,
.filters__radio-btn:focus, 
.filters__radio-btn:hover,
.filters__radio-btn:checked{
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important; 
    width: 1px !important; 
    overflow: hidden;
}

.filters__btn {
    @extend %btn;
    padding: 6px 22px;

    font-family: "Roboto-Medium", sans-serif;
    line-height:1.625;

    background-color: var(--secondary-bg);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    

    .filters__radio-btn:checked + &, &:hover, &:focus{
        cursor: pointer;
        outline: none;

        background-color: var(--accent);
        color:var(--light-text);

        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12),
         0px 1px 2px rgba(0, 0, 0, 0.08), 
         0px 3px 1px rgba(0, 0, 0, 0.1);

    }
}
.button-container{
    display: flex;

    &:not(:last-child){
        margin-right: 8px;
        margin-bottom: 15px;
    }
    @media screen and(min-width:400px) {
        min-width: fit-content;
        &:nth-last-child(2){
            margin-bottom: 0;
        }    
        &:not(:nth-last-child(-n+2)){
            margin-bottom: 15px;
        }
    }
    @media screen and(min-width:$tablet) {
        &:not(:nth-last-child(-n+2)){
            margin-bottom: 0;
        }
    }

}