/*common*/
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body{
    color: var(--main-text);
    background-color: var(--main-bg);
    font-family: "Roboto-Bold", sans-serif;
    letter-spacing: 0.03em;

    padding-top: 60px;
    @media screen and (min-width: $tablet){
        padding-top: 0;
    }
}

h1,h2,h3,p {
    margin: 0;
    pointer-events: none;
}

a{
    text-decoration: none;
    color: var(--main-text);
}

a:hover {
    cursor: pointer;    
}