.logo {
    display: flex;
    font-size: 24px;
    line-height: 1.19;
    font-family: "Raleway-Bold", sans-serif;

    @media screen and (min-width: $desktop){
        font-size: 26px;
    }
    
    &--accent{
        color: var(--accent);
    }
    &--inverse{
        color: var(--light-text);
    }
}
