
.section--padding{
    padding: 94px 0;
}
.section-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.title--hidden {
    height: 1;
    width: 1;
    margin: -1px;
    overflow: hidden;
}

.item-title {
    font-size: 14px;
    line-height: 1.14;
}