.section{
    padding: 60px 0;
    @media screen and (min-width: $desktop){
        padding: 94px 0;
    }    
}
.section__title {
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    margin-bottom: 30px;
    
    @media screen and (min-width: $desktop){
        font-size: 36px;
        line-height: 1.17;
        margin-bottom: 50px;
    }
}

.section__title--hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important; 
    width: 1px !important; 
    overflow: hidden;
}

.item-title {
    font-size: 14px;
    line-height: 1.14;
}