.social-links{
    flex-direction: row;
    justify-content: center;
    
    &__item:not(:last-child){
        margin-right: 10px;
    }
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    background-color: var(--main-bg);      
    color: var(--social-links);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);    

    &:hover, &:focus{
        outline:none;
        border:none;

        color: var(--light-text);
        background-color: var(--accent);
    }
}
.social-link__icon {        
    width: 20px;
    height: 20px;
    fill: currentColor;
}
