.footer__contacts-container {
    margin-bottom: 60px;
    @media screen and (min-width:$tablet){
        margin-right: 165px;    
    }
    @media screen and (min-width:$desktop){
        margin-bottom: 0px;
        margin-right: 69px;    
    }
}
.footer__contacts-item {
    margin-bottom: 9px;
}
.footer__address{
    font-style: normal;
 }
 .footer__contacts-link {
    @extend %link;
    display: block;
    color: var(--footer-contacts);
    &:not(:last-child){
        margin-bottom: 9px;
    }       
}