.footer__contacts-container {
    margin-right: 69px;
}
.footer__logo{
    margin-bottom: 20px; 
}
.footer__contacts-item {
    margin-bottom: 9px;
}
.footer__address{
    font-style: normal;          
 }
 .footer__contacts-link {
    color: var(--footer-contacts);        
}