.footer__social-links{
    margin-bottom: 60px;
    @media screen and (min-width:$desktop){
        margin-bottom: 0;
        margin-right: 94px;    
    }
}
.footer__social-link{
    color: var(--light-text); 
    background-color: var(--footer-social-bg);       
}
