//Акцент: #2196F3
$accent: #2196F3;
//основной цвет фона: #ffffff
$main-bg: #fff;
//вторичный цвет фона #F5F4FA
$secondary-bg: #F5F4FA;

//Фон заголовка в "Чем занимаемся": rgba(47, 48, 58, 0.8);
$activity-title-bg: rgba(47, 48, 58, 0.8);

//основной текст: #212121
$main-text: #212121;
//Вторичный текст: #757575
$secondary-text: #757575;
//текст героя
$light-text: #ffffff;
//цвет иконок соцсетей #AFB1B8;
$social-links: #AFB1B8;


//footer конаткты текст : rgba(255, 255, 255, 0.6);
$footer-contacts: rgba(255, 255, 255, 0.6);
//Footer-bg: #2F303A
$footer-bg: #2F303A;
//бекграунд соцсетей в футере: rgba(255, 255, 255, 0.1);
$footer-social-bg: rgba(255, 255, 255, 0.1);

//top menu underline #ECECEC
$nav-underline: #ECECEC;

//Портфолио рамка проекта #EEEEEE
$item-border: #EEEEEE;