/*Logo*/
@font-face{
    font-family: "Raleway-Bold";
    src: url(./fonts/Raleway-Bold.ttf);
    font-style: normal;
    font-weight: 700;
}

/*headers*/
@font-face{
    font-family: "Roboto-Bold";
    src: url(./fonts/Roboto-Bold.ttf);
    font-style: normal;
    font-weight: 700;
}

/*hero header*/
@font-face {
    font-family: "Roboto-Black";
    src: url(./fonts/Roboto-Black.ttf);
    font-style: normal;
    font-weight: 900;
}

/*nav links*/
@font-face{
    font-family: "Roboto-Medium";
    src: url(./fonts/Roboto-Medium.ttf);
    font-style: normal;
    font-weight: 500;
}

/*paragraphs*/
@font-face{
    font-family: "Roboto-Regular";
    src: url(./fonts/Roboto-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}