
.nav__list-item{
    display: flex;
    justify-content: center;

    &:not(:last-child){
        margin-bottom: 40px;

        @media screen and (min-width: $tablet){
            margin-bottom: 0;
            margin-right:50px;
        }        
    }
    &:last-child{
        margin-bottom: 60px;

        @media screen and (min-width: $tablet){
            margin-bottom: 0;
        }  
    }
}

.nav__link{  
    @extend %link;
    position: relative;

    font-size: 18px;
    line-height: 1.17;

    @media screen and (min-width: $tablet){
        font-size: 14px;
        line-height: 1.14;
        padding-top: 32px;
        padding-bottom: 32px;
    }
    
    &--active {
        color: var(--accent);
        &::after{
            content:'';
            display: block;
            width: 100%;            
            height: 4px;            
            border-radius: 2px;

            background-color: var(--accent);

            position: absolute;
            bottom: -8px;
            @media screen and (min-width: $tablet){
                bottom:auto;
                top: 77px;  /*80+1 border-bottom*/
            }
            
        }
    }      
}