%btn {
    display: block;
    font-size: 16px;

    border: none;
    border-radius: 4px;
    &:hover,&:focus {
        outline:none;
        cursor: pointer;
    }
}

%main-btn{
    color: var(--light-text);
    background-color: var(--accent);
    line-height: 1.875;
    letter-spacing: 0.06em;
}