%btn {
    display: block;
    font-size: 16px;

    border: none;
    border-radius: 4px;
    &:hover,&:focus {
        outline:none;
        cursor: pointer;
    }
}

%main-btn{
    color: var(--light-text);
    background-color: var(--accent);
    line-height: 1.875;
    letter-spacing: 0.06em;
}

%link {
    font-family: "Roboto-Medium", sans-serif;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
        outline:none;
        border:none;
        color: var(--accent);
    }       
}