.team__card{
    width: 100%;
    
    padding-bottom: 24px;

    font-size: 16px;
    line-height: 1.187;   
    background-color: var(--main-bg);
    text-align: center;
    
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 4px 4px;
    
    
    &:not(:last-child){
        margin-bottom: 30px;
    }

    @media screen and (min-width: $tablet) {
        @include elements-width(2);
        &:not(:last-child){
            margin:0;
        }

        &:nth-child(odd){
            margin-right: 30px;
        }
        
        &:not(:nth-last-child(-n+2)){
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width: $desktop) {
        @include elements-width(4);
        &:nth-child(odd){
            margin-right: 0;
        }

        &:not(:nth-last-child(-n+2)){
            margin-bottom: 0px;
        }

        &:not(:nth-child(4n)){
            margin-right: 30px;
        }

        &:not(:nth-last-child(-n+4)){
            margin-bottom: 30px;
        }
    }    
    
}
.team__card-img{
    display: block;
    width: 100%;
    margin-bottom: 30px;
}
.team__card-name{
    margin-bottom: 10px;
    font-family: "Roboto-Medium", sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.team__card-position {
    margin-bottom: 16px;
    font-family: "Roboto-Regular", sans-serif;
    color: var(--secondary-text);
    font-weight: 400;    
}
